/* TEMP */

:root {
    --main-color: #2f5073;
    --second-color: #919eb1;
    --third-color: #4f5b71;
    --fourth-color: #8bbce3;
    --border-color: gainsboro;
    --font-color: #8f8f8f;
    --font-color2: gainsboro;
    --grey-color: #f2f2f2;
    --grey-color2: #767676;
}

/* TEMP ENDE*/

/* CHAPTER-LAYOUT */

.chapter-intro {
    position: relative;
    margin: 30px 0;
}

.chapter-intro::before{
    position: absolute;
    background-color: var(--main-color);
    display: flex;
    left: -20px;
    width: 2px;
    height: 100%;
    content: "";
    border-radius: 2px;
}

.chapter-title {
    font-size: 25px;
    font-weight: 400;
    color: var(--main-color);
    margin-bottom: 10px;
}

.chapter-descr{
    text-align: justify;
    font-size: 17px;
}

.chapter-text {
    position: relative;
    margin: 20px 0;
}

.chapter-text-title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.chapter-text::before {
    position: absolute;
    background-color: transparent;
    display: flex;
    left: -20px;
    width: 2px;
    height: 100%;
    content: "";
    border-radius: 2px;
}

.chapter-textinfo .chapter-text-title {
    color: var(--infoColor);
}

.chapter-textinfo::before {
    background-color: var(--infoColor);
}

.chapter-textwarning .chapter-text-title {
    color: var(--warnColor);
}

.chapter-textwarning::before {
    background-color: var(--warnColor);
}

/* LISTS */

.chapter-list table {
    border-collapse: collapse;
}

.chapter-list tr {
    border-bottom: 2px solid var(--main-color);
}

.chapter-list td {
    padding: 7px;
}

.chapter-list td:first-child {
    text-align: left;
    font-weight: 500;
}

.chapter-list td:last-child {
    text-align: right;
}

/* CODE */

.chapter-text-code {
    background-color: rgb(35,35,35);
    font-size: 15px;
    border-radius: 2px;
    border: 2px solid var(--main-color);
    color: white;
    margin: 10px 0;
    padding: 5px;
}

.chapter-text-code code {
    white-space: break-spaces;
}

.markcode {
    color: red;
}

inlinecode {
    display: inline;
    font-weight: 800;
}

.chapter-text-imgH {
    height: auto;
    width: 100%;
    object-fit: contain;
    border: 2px solid var(--main-color);
    margin: 10px 0;
}

.chapter-text-imgH img {
    height: auto;
    width: 100%;
}

.chapter-text-imgV {
    height: 200px;
    width: auto;
    object-fit: contain;
    border: 2px solid var(--main-color);
    margin: 10px 0;
}

.chapter-text-imgV img {
    height: 100%;
    width: auto;
}

.image-caption {
    padding: 5px;
    border-bottom: 2px solid var(--main-color);
}

.direct-group {
    text-align: right;
    display: flex;
}

.direct-left {
    width: 25%;
    display: inline-block;
    text-align: left;
}

.direct-mid {
    width: 50%;
    display: inline-block;
    text-align: center;
}

.direct-right {
    width: 25%;
    display: inline-block;
    text-align: right;
}

.btn {
    cursor: pointer;
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 0.5px 2px 1px var(--themeColor);

    transition: color, background-color 0.4s,0.4s;
}

.fore-btn,
.back-btn {
    display: inline-flex;
}

.btn:hover {
    color: var(--main-color);
    background-color: blue;
}

a {
    color: inherit;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.1s;
}

a:hover {
    text-decoration-color: inherit;
}

.bold {
    font-weight: 600;
    color: var(--main-color);
}

.chapter-border {
    border: 0;
    border-bottom: 2px solid gray;
}